.status-toggle {
  background-color: #f1f1f1;
  border-radius: 999px;
  padding: 4px;
}

.tab-btn {
  border: none;
  border-radius: 999px;
  padding: 6px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.23px;
  background-color: transparent;
  color: rgba(97, 97, 97, 1);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.tab-btn.active-tab {
  background-color: rgba(52, 37, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.tab-btn.inactive-tab:hover {
  background-color: rgba(52, 37, 255, 1);
  color: rgba(255, 255, 255, 1);
}
.tab-content {
  display: flex;

  
}